@model List<ResultCarWithBrandsDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalarla ilgili ekleme, silme, güncelleme, arama ve listeleme gibi işlemlerinizi bu sayfa üzerinden gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Vites</th>
                                        <th>Km</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Detaylar</th>
                                        <th>Özellik Ata</th>
                                        <th>Sitede Gör</th>
                                        <th>Fiyat Bilgisi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.BrandName</td>
                                            <td>@item.Model</td>
                                            <td>@item.Transmission</td>
                                            <td>@item.Km</td>
                                            <td><a href="/AdminCar/RemoveCar/@item.CarID" class="btn btn-outline-danger btn-rounded">Sil</a></td>
                                            <td><a href="/AdminCar/UpdateCar/@item.CarID" class="btn btn-outline-success btn-rounded">Güncelle</a></td>
                                            <td><a href="/Admin/AdminCarFeatureDetail/Index/@item.CarID" class="btn btn-outline-info btn-rounded">Detaylar</a></td>
                                            <td><a href="/Admin/AdminCarFeatureDetail/CreateFeatureByCarID" class="btn btn-outline-dark btn-rounded">Özellik Ata</a></td>
                                            <td><a href="/CarList/CarDetail/@item.CarID" class="btn btn-outline-warning btn-rounded">Sitede Gör</a></td>
                                            <td><a href="/CarList/CarDetail/@item.CarID" class="btn btn-outline-secondary btn-rounded">Fiyat Bilgileri</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/AdminCar/CreateCar/" class="btn btn-outline-primary btn-rounded">Yeni Araç Girişi</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

